
* {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@100;200;300;400;500;600;700&display=swap');


body {
  text-align: center;
  margin: 0;
  background-color: #283149;
}

.title {
  text-shadow: 3px 0 #da0463;
  color: #fff;
  font-size: 80px;
}

.drum {
  margin: 10% auto;
}

.btn {
  display: inline-block;
  outline: none;
  border: 10px solid #4e5979;
  font-size: 80px;
  height: 150px;
  width: 150px;
  line-height: 2;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  font-weight: 900;
  margin: 10px;
  border-radius: 15px;
}

footer {
  display: flex;
  width: 150px;
  margin: auto;
  gap: 10px;
}

footer a:nth-child(1) {
  color: #000;
}

footer a:nth-child(2) {
  color: brown;
}

.icon1, .icon2, .icon3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 35px;
  margin: auto;
  border-radius: 50%;
  font-size: 23px;
  transition: 0.6s;
  cursor: pointer;
}

.icon1:hover, .icon2:hover, .icon3:hover {
  background-color: #b9bece;
  transform: translateY(-12px);
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.7;
}

.w {
  background-image: url(../images/crash.png);
}

.a {
  background-image: url(../images/kick.png);
}

.s {
  background-image: url(../images/snare.png);
}

.d {
  background-image: url(../images/tom1.png);
}

.j {
  background-image: url(../images/tom2.png);
}

.k {
  background-image: url(../images/tom3.png);
}

.l {
  background-image: url(../images/tom4.png);
}
